NODE_ENV=development
PORT=1337
DB_HOST=127.0.0.1
PGUSER=postgres
PGPASSWORD=DontBeSilly
PGDATABASE=beerpong
DATABASE=bp_rel_free
DB_PORT=5432
CORS_ORIGIN=http://localhost:3000
ADMIN_DEFAULT=DontBeSilly
SESSION_SECRET=secret_
SESSION_MAX_AGE=3600000
ITEMS_PER_PAGE=20
RECENT_ITEMS=5
DISABLE_SIGNUP=false
DATABASE_URL=postgresql://postgres:DontBeSilly@localhost:5432/beerpong
TEST_USER_PASS=password
MAIL_USER=ethereal.email
MAIL_PASSWORD=createAnAccount@^
MAIL_HOST=smtp.ethereal.email
MAIL_SERVICE=
FRONTEND_URL=http://localhost:3000
OAUTH_CLIENT_ID=create_in_google_cloud_console
OAUTH_CLIENT_SECRET=create_in_google_cloud_console
OAUTH_REDIRECT_URI=https://developers.google.com/oauthplayground
OAUTH_REFRESH_TOKEN=create_in_google_cloud_console